body {
    min-height: 100vh;
    padding: 4rem 0;
    background: url("https://images6.alphacoders.com/106/1062195.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #222;
    font-family: 'Carrois Gothic SC', sans-serif;
}

h1,h2 {
    margin-bottom: 2rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    margin-top: 2rem;
}

.box {
    text-align: center;
    padding: 10px;
    background: rgba(142,237, 238, .6);
    border: 1px solid rgba(0,0,0, .4);
}

/* FOR THE LETTER KH*/
.box1 {
    text-align: center;
    padding: 10px;
    background: rgba(142,237, 238, .3);
    border: 1px solid rgba(0,0,0, .4);
}